{%extends "index.html"%} 
{%block body%}
<form action="{{url_for('notes.editnote', nid=nid)}}" method="POST">
    <label for="title">Title</label>
    <textarea name="title" id="title" cols="30" rows="1">{{title}}</textarea>
    {% for t in alltags %}
        {% if t in tags %} 
            <input type="checkbox" name="{{t}}" id="{{t}}" value=1 checked>
        {% else %}
            <input type="checkbox" name="{{t}}" id="{{t}}" value=1>
        {%endif%}
        <label for="{{t}}">{{t}}</label>
    {% endfor %}
    <br>
    <textarea name="detail" id="detail" cols="30" rows="10">{{detail}}</textarea>
    <br>
    <button type="submit">Save</button>
</form
{% endblock %}