<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyNote</title>
  </head>
  <body>
    <nav>
      <h1><a href="{{url_for('index')}}">EasyNote</a></h1>
      <a href="{{url_for('notes.addnote')}}">Add Note</a>
      <a href="{{url_for('notes.allnotes')}}">View All</a>
    </nav>
    <p>The Simplest Way to Keep Notes.</p>
    {%block main%} 
    {% block forms %}
    <form action="{{url_for('notes.search')}}" method="post">
      <input type="search" name="searchstring" placeholder="keyword" />
      <select name="tag" id="tag">
        <option value="null">--select a tag--</option>
        {% for t in tags %}
        <option value="{{t}}">{{t}}</option>
        {%endfor%}
      </select>
      <button type="submit">Search</button>
    </form>
    <br>
    {% block newtag%}
    <a href="{{url_for('notes.newtag')}}">+ Add New Tag</a>
    {%endblock%} 
    <br>
    <br>
    {% endblock %} 
    {%block body%} 
    {%endblock%} 
    {%endblock%}
  </body>
</html>
