.App {
  text-align: center;
  background-color: #171717;
  color:#EDEDED;
  padding: 20px;
  height: 200vh;
}

h1{
  color:#1CC5DC ;
}
a h1:hover{
  color:#EDEDED;
}

small{
  color:#444444
}

.link{
  color:#EDEDED;
  text-decoration: none;
}
.link:hover{
  color:#1CC5DC;
  
}

a{
  color:#EDEDED;
  text-decoration: none;
}
a:hover{
  color:#1CC5DC;
  
}

.form-item{
  margin:  10px;
}

.btn-detail{
  margin: 10px;
}

.badge{
  margin:5px;
}

.checkbox{
  margin:5px;
}

input{
  margin:50px 10px;

}

.Addbtn{
  text-align: right;
  margin-top: 50px;
  margin-right: 100px;
}

.tagcheckbox{
  margin-top:20px;
}

li{
  margin:5px auto;
}

p{
  margin-top: 50px;
  margin-left: 20px;;
}